<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ae5b0ff255.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/paint.css">
    <title>{{ page.title }}</title>
</head>

<body>
    {% assign course = page %}
    <section class="banner">
        <div class="container text-center">
            <div class="module">
                {{ course.title }}
            </div>
        </div>
    </section>

    {{ author }}

    {% assign main_lesson = course.lessons | first %}

    <section class="banner banner-lesson" id="lesson-{{ lesson.title | handleize }}">
        <div class="container lesson">
            <div class="module w100 ptxl">
                <h1 class="text-center mbm rainbow">{{ main_lesson.title }}</h1>
            </div>

            <div class="module w100">
                <div class="container align-center">
                    <div class="module ps">
                        <a href="#lesson"><i class="fas fa-2x fa-book-open"></i></a>
                    </div>

                    <div class="module ps">
                        <a href="#codeexample"><i class="fas fa-2x fa-code"></i></a>
                    </div>

                    <div class="module ps">
                        <a href="#tldr"><i class="fas fa-2x fa-th-list"></i></a>
                    </div>

                    <div class="module ps">
                        <a href="#activity"><i class="fas fa-2x fa-pencil-ruler"></i></a>
                    </div>
                </div>
            </div>

            <div class="module w100 plxl prxl pbxl large">
                {{ main_lesson.content | markdownify }}
            </div>

            {% for lesson in course.lessons %}
            {% unless lesson == main_lesson %}
            <div class="module w100 pm bold">
                {{ lesson.title  }}
            </div>
            {% endunless %}
            {% endfor %}
        </div>
    </section>



    <section class="banner">
        <div class="container">
            {% for course in site.courses %}
            {% unless course.hide %}
            <div class="module w33 ps">
                {% assign author = site.authors | where: "name", course.author[0] | first %}
                Author: {{ author.twitter }}
                Title: {{ course.title }}<br>
                Description: {{ course.description}}
            </div>
            {% endunless %}
            {% endfor %}
        </div>
    </section>





    {% for a in authors %}
    Author: {{ a.twitter }}<br>
    {% endfor %}


</body>

<script src="../js/rainbow.js"></script>

</html>